.repository_xpert_url .colourradiobutton,
.repository_xpert_url .fp-login-radio {
    padding: 5px;
}
.repository_xpert_url .colourwhiteblack {
    background-color: #fff;
    color: #000;
    width: 260px;
    padding: 2px;
    border: 1px solid #000;
    display: inline-block;
    line-height: 13px;
    text-align: left;
    font-size: 11px;
}
.repository_xpert_url .colourblackwhite {
    background-color: #000;
    color: #fff;
    width: 260px;
    padding: 2px;
    border: 1px solid #000;
    display: inline-block;
    line-height: 13px;
    text-align: left;
    font-size: 11px;
}
.repository_xpert_url .colourgreyblack {
    background-color: #ccc;
    color: #000;
    width: 260px;
    padding: 2px;
    border: 1px solid #000;
    display: inline-block;
    line-height: 13px;
    text-align: left;
    font-size: 11px;
}
.repository_xpert_url .colourbluebrown {
    background-color: #c5effd;
    color: #231f20;
    width: 260px;
    padding: 2px;
    border: 1px solid #000;
    display: inline-block;
    line-height: 13px;
    text-align: left;
    font-size: 11px;
}
.repository_xpert_url .colourpeachbrown {
    background-color: #ecc5a8;
    color: #372f18;
    width: 260px;
    padding: 2px;
    border: 1px solid #000;
    display: inline-block;
    line-height: 13px;
    text-align: left;
    font-size: 11px;
}
.repository_xpert_url .colouryellowblack {
    background-color: #fefcd7;
    color: #000;
    width: 260px;
    padding: 2px;
    border: 1px solid #000;
    display: inline-block;
    line-height: 13px;
    text-align: left;
    font-size: 11px;
}
.repository_xpert_url .colourpinkblack {
    background-color: #ffe9e8;
    color: #000;
    width: 260px;
    padding: 2px;
    border: 1px solid #000;
    display: inline-block;
    line-height: 13px;
    text-align: left;
    font-size: 11px;
}
.repository_xpert_url .fp-login-radio {
    align-items: center;
    border-collapse: collapse;
    display: flex;
    font-size: 5px;
    line-height: 5px;
    padding: 1px;
    text-align: left;
    width: 350px;
}
.repository_xpert_url .fp-login-radio input {
    display: inline-block;
    height: auto;
    margin: 0.3rem 0.4rem 0.3rem 0;
    width: auto;
}
.repository_xpert_url .fp-login-radio label {
    margin: 0;
}
